@font-face {
  font-family: 'Neuron-Black';
  src: url('Neuron-Black.woff') format('woff'),
       url('Neuron-Black.ttf') format('truetype'),
       url('Neuron-Black.svg#Neuron-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuron-DemiBold';
  src: url('Neuron-DemiBold.eot');
  src: url('Neuron-DemiBold.woff2') format('woff2'),
       url('Neuron-DemiBold.woff') format('woff'),
       url('Neuron-DemiBold.ttf') format('truetype'),
       url('Neuron-DemiBold.svg#Neuron-DemiBold') format('svg'),
       url('Neuron-DemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuron';
  src: url('Neuron.eot');
  src: url('Neuron.woff2') format('woff2'),
       url('Neuron.woff') format('woff'),
       url('Neuron.ttf') format('truetype'),
       url('Neuron.svg#Neuron') format('svg'),
       url('Neuron.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuron-Light';
  src: url('Neuron-Light.woff') format('woff'),
       url('Neuron-Light.ttf') format('truetype'),
       url('Neuron-Light.svg#Neuron-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuron-ExtraBold';
  src: url('Neuron-ExtraBold.woff') format('woff'),
       url('Neuron-ExtraBold.ttf') format('truetype'),
       url('Neuron-ExtraBold.svg#Neuron-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}



